<?php
/**
 * Copyright 2020 Adorncommerce LLP. All rights reserved.
 * See LICENSE.txt for license details.
 */

/** @var Magento\Review\Block\Product\View\ListView $block */
/** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */
$reviewBlock = $block->getLayout()->createBlock('Adorncommerce\ProductReviewRating\Block\ProductReviews');
$helper = $this->helper('Adorncommerce\ProductReviewRating\Helper\Data');
$_items = $block->getReviewsCollection()->getItems();
$format = $block->getDateFormat() ?: \IntlDateFormatter::SHORT;
$totalrvper = 0;
$ratings = [];
$count = 0;
$star5 = 0;
$star4 = 0;
$star3 = 0;
$star2 = 0;
$star1 = 0;
$starArray = ['star1' => 0, 'star2' => 0, 'star3' => 0, 'star4' => 0, 'star5' => 0
];
$reviewId = [1 => 0, 2 => 0, 3 => 0, 4 => 0, 5 => 0];
$voteId = [1 => 0, 2 => 0, 3 => 0, 4 => 0, 5 => 0];
$totalsum = 0;
$ratingCode = array();

?>

<link rel="stylesheet" type="text/css"
      href="<?php echo $block->getViewFileUrl('Adorncommerce_ProductReviewRating::css/jquery.rateyo.min.css') ?>">

<?php if (count($_items)): ?>
<button name="write-a-review" id="write-a-review" class="action primary review-btn">Write a Review</button>
<?php if (!$block->getHideTitle()): ?>
    <div class="adrn-block-title">
        <strong><?= $block->escapeHtml(__('Reviews & Rating')) ?></strong>
    </div>
<?php endif ?>
<div class="main-rating-box"><!--/ this div close in rating\rating-code.phtml  -->
    <div class="rectangle-rating">
        <?php $rid = 1; ?>
        <?php foreach ($_items as $_review): ?>

            <?php $mysum = 0 ?>
            <?php
            $reviewId[$rid] = $_review->getReviewId();
            $rid++;
            ?>
            <?php $vid = 1; ?>
            <?php if (count($_review->getRatingVotes())): ?>
                <?php foreach ($_review->getRatingVotes() as $_vote): ?>
                    <?php
                    $mysum = $mysum + ($_vote->getPercent());
                    $ratings = $_vote->getPercent();
                    $voteId[$vid] = $_vote->getVoteId();
                    ?>
                    <?php $torat = $mysum / count($_review->getRatingVotes()); ?>
                    <?php
                    if ($torat <= 100 && $torat > 80) {
                        $star5 = $star5 + 1;
                        $starArray['star5'] = $star5;
                    }
                    if ($torat <= 80 && $torat > 60) {
                        $star4 = $star4 + 1;
                        $starArray['star4'] = $star4;
                    }
                    if ($torat <= 60 && $torat > 40) {
                        $star3 = $star3 + 1;
                        $starArray['star3'] = $star3;
                    }
                    if ($torat <= 40 && $torat > 20) {
                        $star2 = $star2 + 1;
                        $starArray['star2'] = $star2;
                    }
                    if ($torat <= 20 && $torat >= 0) {
                        $star1 = $star1 + 1;
                        $starArray['star1'] = $star1;
                    }
                    ?>
                    <?php $totalsum = $star5 + $star4 + $star3 + $star2 + $star1; ?>
                <?php endforeach; ?>
            <?php endif; ?>
            <?php $vid++ ?>
        <?php endforeach; ?>
        <?php
        $i = 5;
        $totalPerArr = array();
        $average = 0;
        $starRating = 0;

        echo "<ul class='rating-box'>";
        foreach (array_reverse($starArray) as $key => $star) {
            $sum = 0;
            $percent = 0;
            switch ($key) {
                case 'star1' :
                    $sum = $star * 100;
                    try {
                        $percent = (float)($sum / $totalsum);
                    } catch (Exception $exception) {
                    }
                    $starRating = ((float)$percent * 1) / 100;
                    array_push($totalPerArr, (float)($percent * 1) / 100);
                    break;
                case 'star2' :
                    $sum = $star * 100;
                    try {
                        $percent = (float)($sum / $totalsum);
                    } catch (Exception $exception) {
                    }
                    $starRating = ((float)$percent * 2) / 100;
                    array_push($totalPerArr, (float)($percent * 2) / 100);
                    break;
                case 'star3' :
                    $sum = $star * 100;
                    try {
                        $percent = (float)($sum / $totalsum);
                    } catch (Exception $exception) {
                    }
                    $starRating = ((float)$percent * 3) / 100;
                    array_push($totalPerArr, (float)($percent * 3) / 100);
                    break;
                case 'star4' :
                    $sum = $star * 100;
                    try {
                        $percent = (float)($sum / $totalsum);
                    } catch (Exception $exception) {
                    }

                    $starRating = ((float)$percent * 4) / 100;
                    array_push($totalPerArr, (float)($percent * 4) / 100);
                    break;
                case 'star5' :
                    $sum = $star * 100;
                    try {
                        $percent = (float)($sum / $totalsum);
                    } catch (Exception $exception) {
                    }
                    $starRating = ((float)$percent * 5) / 100;
                    array_push($totalPerArr, (float)($percent * 5) / 100);
                    break;
            }
            ?>
            <li>
                <?php
                $color = "";
                $pr = $block->escapeHtml(round((float)$percent));
                switch ($pr) {
                    case ($pr <= 30) :
                        $color = "red";
                        break;
                    case ($pr <= 60) :
                        $color = "orange";
                        break;
                    case ($pr <= 100) :
                        $color = "green";
                        break;
                }
                ?>
                <div class="rating-summary item"
                     itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                    <span><?php echo $i ?></span>
                    <span class="rate-star">&#9733;</span>
                    <div class="rating-result <?= $color ?>"
                         title="<?= $block->escapeHtmlAttr(round((float)$percent, 2)) ?>%">
                        <meta itemprop="worstRating" content="1"/>
                        <meta itemprop="bestRating" content="100"/>
                        <span style="width:<?= $block->escapeHtmlAttr(round((float)$percent, 2)) ?>%">
                                <span
                                    itemprop="ratingValue"><?= $block->escapeHtml(round((float)$percent, 2)) ?>%</span>
                            </span>
                    </div>
                    <span class="user-count"><?php echo round((float)$percent, 2) ?>%</span>
                </div>
            </li>
            <?php $i--; ?>
        <?php }
        echo "</ul>" ?>

        <?php $a = array_sum($totalPerArr) ?>
        <div class="rate">
            <div class="rating-review">
                <div class="total-avg">
                    <h3 class="rating-avg">
                        <?php echo round((float)$a, 1) ?>/5
                    </h3>
                    <div class="total-review">
                        <div class="rating" style="display: inline-block"></div>
                        <div id="progressbar"></div>
                        <span class="total-count-review">Total <?php echo count($_items) ?> reviews</span>
                    </div>
                </div>
                <div class="total-pr">
                    <span class="adrn-percent"><?php echo (round((float)$a, 2) * 100) / 5 ?>%</span>
                    <span class="adrn-pr-text">of customers recommended this product</span>
                </div>
            </div>
            <script type="text/javascript">
                require([
                    'jquery',
                    'rateyo'
                ], function ($, rate) {
                    $("#write-a-review").click(function () {
                        $(".block.review-add").css("display", "block");
                        $('html, body').animate({scrollTop: $('.block.review-add').offset().top}, 'slow');
                    });
                    $(".rating").rateYo({
                        rating: <?php echo (float)$a ?>,
                        starWidth: '25px',
                        normalFill: '#d7d7d7',
                        ratedFill: '<?php echo $helper->getColorCode();?>',
                        readOnly: true
                    });

                    $(".tooltip .rating").rateYo({
                        starWidth: '20px',
                        normalFill: '#d7d7d7', // light gray
                        ratedFill: 'black',
                        fullStar: true
                    });
                });
            </script>
        </div>
    </div>
    <?php endif; ?>
