<?php
/**
 * Copyright 2020 Adorncommerce LLP. All rights reserved.
 * See LICENSE.txt for license details.
 */
/** @var Magento\Review\Block\Product\View\ListView $block */
/** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */
$helper = $this->helper('Adorncommerce\ProductReviewRating\Helper\Data');
$_items = $block->getReviewsCollection()->getItems();
$format = $block->getDateFormat() ?: \IntlDateFormatter::SHORT;
$avg = 0;
$ratings = array();
$ratingCodeArry = array();
$avgaArr = array();
?>
<?php if ($helper->getGraphicCircle()) : ?>
<div class="round-rating">
<?php if (count($_items)): ?>
    <?php foreach ($_items as $review) {
        foreach ($review->getRatingVotes() as $vote) {
            $ratingCodeArry[$vote->getRatingCode()] = $vote->getRatingCode();
            $avgaArr[$vote->getRatingCode()] = 0;
            $ratings[$vote->getRatingCode()] = 0;
        }
    } ?>
    <?php
    foreach ($_items as $_review) {
        foreach ($_review->getRatingVotes() as $_vote) {
            $ratings[$_vote->getRatingCode()] += $_vote->getPercent();
        }
    } ?>

    <?php foreach ($ratingCodeArry as $key => $value):
        $avg = $ratings[$value] / count($_items);
        $avgaArr[$value] = (float)$avg;
        ?>
    <?php endforeach ?>
    <?php foreach ($avgaArr as $key => $avgVal):?>

        <?php
            $color = "";
            $pr = $block->escapeHtml(round((float)$avgVal));
            switch ($pr){
                case ($pr <=30) :
                    $color = "red";
                break;
                case ($pr <=60) :
                    $color = "orange";
                break;
                case ($pr <=100) :
                    $color = "green";
                break;
            }
        ?>

        <div class="round-rating-item">
        <div class="progress <?= $color ?>" data-percentage="<?= $block->escapeHtml(round((float)$avgVal)) ?>">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">
                <div>
                    <?= round((float)($avgVal * 5 ) / 100, 2) ?>
                </div>
            </div>
        </div>
        <h5><?= $key ?></h5>
        </div>
    <?php endforeach;?>
<?php endif; ?>
</div>
<?php endif; ?>
</div><!--/main rating box  -->
